.taskDiplayMainDiv,
.individualProjectDisplay{
    border: 1px solid var(--light-green);
    height: fit-content; /* 50px; */
    width: fit-content; /* 150px; */
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    padding: 2px;
    margin: 2px;
    border-radius: 15px;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.taskDiplayMainDiv>p{
    margin: 2px;
}