.taskDiplayMainDiv,
.individualProjectDisplay{
    border: 1px solid var(--light-green);
    height: fit-content; /* 50px; */
    width: fit-content; /* 150px; */
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    padding: 2px;
    margin: 2px;
    border-radius: 15px;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div.taskDiplayMainDiv>p{
    margin: 2px;
}
div.taskDiplayMainDiv:hover{
    border: 3px solid var(--green);
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
div.taskDiplayMainDiv>p:nth-child(2){
    font-weight: bold;
}

img.deleteTaskButton:hover,
img.deleteProjectButton:hover,
img.dropDownIcon:hover,
img.hideDetailsIcon:hover,
img.editTaskButton:hover {
  height: 25px;
  width: 25px;
}

details{
    margin-left: 5px;
}