:root{
    --background: #ECFAE5;
    --lime: #D2FF72;
    --light-green: #73EC8B;
    --green: #54C392;
    --dark-green: #15B392;
    --font-colour: #FFFFFF;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: grid;
    grid-gap: 0px;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main"
        "sidebar main main main";
}

header{
    grid-area: header;
    background-color: var(--lime);
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main{
    grid-area: main;
    background-color: var(--background);
}

footer{
    width: 100vw;
    height: 30px;
    background-color: var(--dark-green);
    position: absolute;
    bottom: 0px;
    text-align: center;
}

#addButton{
    position: relative;
    top: 20px;
    background-color: var(--dark-green);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--font-colour);
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#addButton:hover,
#addButton:focus {
    background-color: var(--green);
    color: rgba(0, 0, 0, 0.65);
}



button {
  align-items: center;
  background-color: var(--dark-green);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--font-colour);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
